@import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Sans|Parisienne');
body{max-width:1024px;padding-top:70px;background-color:#F5F5F5}h1{font-family:Parisienne,cursive;margin:10px 0;font-size:30px}.carousel,.first-date-pic,.name-section{margin-top:5rem}h2{text-decoration:underline}h3{font-size:24px}h5{font-size:20px}#registry p,.story-text{font-size:18px}.name-section{margin-bottom:6rem}.name-section div{font-style:italic}.story-section{padding-top:1rem;margin-bottom:3rem}.story-section img{max-width:100%}.story-title{font-family:Merriweather,serif}.story-text{font-family:'PT Sans',sans-serif}.dating-pic,.first-date-section,.proposal-section{margin-right:10rem}.carousel{margin-bottom:19rem;padding-bottom:2rem}.carousel-cell{margin:0 5rem}.location{padding-top:9rem;margin-bottom:8rem}.registry-text{margin-top:5rem;margin-bottom:22rem}.rsvp{padding-bottom:11rem;background-color:#2b2a2d}footer{font-size:17px}.mobile-image{display:none}iframe{width:100%}@media screen and (max-width:1024px){.dating-pic,.first-date-section,.proposal-section{margin-right:5rem}.first-date-pic{margin-top:8rem}.rsvp{padding-bottom:13.9rem}}@media screen and (max-width:768px){.carousel,.dating-pic,.name-section{margin-top:10rem}.dating-pic,.first-date-section,.proposal-section{margin-right:0}h2{font-size:24px}.desktop-image{display:none}.mobile-image{display:block}.carousel{margin-bottom:22rem}.name-section{margin-bottom:10rem}.proposal-pic{margin-top:8.7rem}.rsvp{padding-top:10rem;padding-bottom:20rem}}@media all and (max-width:375px){.name-section{margin-top:0;margin-bottom:6rem}.carousel{margin-top:6rem}.story-section{margin-bottom:0}.dating-pic,.first-date-pic,.proposal-pic{margin-top:1rem}}
/*body { 
	padding-top: 70px;
	background-color: #F5F5F5; }
h1{
	font-family: 'Parisienne', cursive;
	margin: 10px 0 ;
	font-size: 30px;
}
h2{
	text-decoration: underline;
}
h3{
	font-size:24px;
}
h5{
	font-size:20px;
}
.name-section{
	margin-top: 5rem;
	margin-bottom: 6rem;
}
.name-section div{ 
	font-style: italic;
}

.story-section{
	padding-top: 1rem;
	margin-bottom: 3rem;
}
.story-section img{
	max-width: 100%;
}
.story-title{
	font-family: 'Merriweather', serif;
}
.story-text{
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}
.proposal-section, .dating-pic, .first-date-section{
	margin-right: 10rem;
}
.first-date-pic{
	margin-top: 5rem;
}
.carousel{
	margin-bottom: 19rem;
	margin-top:	5rem;
	padding-bottom: 2rem;
}
.carousel-cell{
	margin:0 5rem;
}
#registry p{
	font-size: 18px;
}
.location{
	padding-top: 9rem;
	margin-bottom: 8rem;
}
.registry-text{
	margin-top: 5rem;
	margin-bottom: 22rem;
}
.rsvp{
	padding-bottom: 11rem; 
	background-color: #2b2a2d;
}
footer{
	font-size: 17px;
}
.mobile-image{
	display: none;
}
iframe{
	width: 100%;
}
@media screen and (max-width: 1024px){
	.proposal-section, .dating-pic, .first-date-section{
		margin-right: 5rem;
	}
	.first-date-pic{
		margin-top: 8rem;
	}
	.rsvp{
		padding-bottom: 13.9rem;
	}
}

@media screen and (max-width: 768px){
		.proposal-section, .dating-pic, .first-date-section{
		margin-right: 0;
	}
	.dating-pic{
		margin-top: 10rem;
	}
	h2{
		font-size: 24px;
	}
	.desktop-image{
		display: none;
	}
	.mobile-image{
		display: block;
	}
	.carousel{
		margin-top: 10rem;
		margin-bottom: 22rem;
	}
	.name-section{
		margin-top:10rem;
		margin-bottom: 10rem;
	}
	.dating-pic{
		margin-top: 10rem;
	}
	.proposal-pic{
		margin-top: 8.7rem;
	}
	.rsvp{
		padding-top: 10rem;
		padding-bottom: 20rem;
	}
}
@media all and (max-width: 375px){
	.name-section{
		margin-top: 0;
		margin-bottom: 6rem;
	}
	.carousel{
		margin-top: 6rem;
	}
	.story-section{
		margin-bottom: 0;
	}
	.first-date-pic, .dating-pic, .proposal-pic{
		margin-top:1rem;
	}
}*/